language: node_js
sudo: required
node_js: 
    - "node"
    - "4.2.6"

install:
    - npm install connect serve-static socket.io socket.io-client html express path mocha

before_install: 
    - cd Webapp/backend
    - sudo ln -s /usr/bin/nodejs /usr/bin/node

notifications:
  email:
    recipients:
      - jcw78@cam.ac.uk
      - dyth2@cam.ac.uk
      - km662@cam.ac.uk
      - hrk32@cam.ac.uk
      - jd726@cam.ac.uk
      - lab76@cam.ac.uk
    on_success: never # default: change
    on_failure: always # default: always

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
