language: node_js
sudo: required
node_js: 
    - 0.12

install:
    - npm install connect serve-static socket.io socket.io-client html express path mocha
    - sudo apt-get install nodejs

notifications:
  email:
    recipients:
      - jcw78@cam.ac.uk
    on_success: never # default: change
    on_failure: always # default: always
